@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');


* {
    font-family: 'NanumSquareNeo';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.woff2);
    font-weight: 600;
    font-display: swap;
}
